.home {
  max-width: 512px;
  margin: 0 auto;

  @media (max-width: 600px) {
    max-width: none;
    padding-bottom: 56px;
  }

  .title {
    line-height: 1;
    font-size: 14px;
    color: var(--secondary-text-color);
    padding: 16px 16px 6px 16px;
    margin: 0;
  }
}