@import '../../style/vars.scss';

.signin {
  padding: 64px 0px 0px;
  min-height: 100vh;
  width: 100%;
  background: #fff;

  @media (min-width: 500px) {
    width: 450px;
    margin: 0 auto;
    background: transparent;

    .card {
      margin-top: 56px;
      border-radius: 3px;
      box-shadow: $card-box-shadow;
    }
  }

  .card {
    display: inline-block;
    width: 100%;

    button.continueWith {

      margin: 10px 0;
      cursor: pointer;
      height: 48px;
      min-width: 261px;
      padding: 0;
      transition: box-shadow .13s; // box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .25);
      background-color: transparent;
      border: none;
      border-radius: 2px;

      svg, i {
        margin: 12px;
        float: left;
      }

      span {
        font-size: 18px;
        font-weight: 500;
        color: rgba(0, 0, 0, .87);
        letter-spacing: .21px;
        margin-left: 0;
        margin-right: 16px;
        line-height: 48px;
        vertical-align: top;
      }

      &:hover, &:active, &:focus {
        box-shadow: 0 3px 6px 2px rgba(0, 0, 0, 0.25);
      }
    }

    hr {

      line-height: 1em;
      position: relative;
      outline: 0;
      border: 0;
      text-align: center;
      height: 1.5em;

      &:before {
        content: '';
        background: rgba(0,0,0,.13);
        position: absolute;
        left: 0;
        top: 50%;
        width: 100%;
        height: 1px;
      }

      &:after {
        content: attr(data-content);
        position: relative;
        display: inline-block;
        padding: 0 .5em;
        line-height: 1.5em;
        color: $secondary-text-color;
        background-color: #fff;
      }
    }
  }
}

body[class=nightmode] {
  .signin {
    background: #424242 !important;
    @media (min-width: 500px) {
      background: #303030 !important;
    }
    hr {
      &:before {
        background: rgba(255,255,255,.13) !important;
      }
      &:after {
        color: rgba(255,255,255,.57) !important;
        background-color: #424242 !important;
      }
    }
    button {
      span, i {
        color: rgba(255,255,255,.87) !important;
      }
      svg {
        fill: rgba(255, 255, 255, .87) !important;
      }
    }
  }
}