.signin {
  padding: 56px 20px;
  min-height: 100%;
  width: 100%;

  button {

    margin: 10px 0;
    cursor: pointer;
    height: 48px;
    min-width: 261px;
    padding: 0;
    transition: box-shadow .13s;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .25);
    background-color: #ffffff;
    border: none;
    border-radius: 1px;
    
    svg {
      margin: 12px;
      float: left;
    }

    span {
      float: left;
      font-size: 18px;
      font-weight: 500;
      color: rgba(0,0,0,.87);
      letter-spacing: .21px;
      margin-left: 0;
      margin-right: 16px;
      line-height: 48px;
      vertical-align: top;
    }

    &:hover, &:active, &:focus {
      box-shadow: 0 3px 6px 2px rgba(0, 0, 0, 0.25);
    }

  }
}