@import '../../style/vars.scss';
.task {
  padding: 132px 0 0 0;
  background: #fff;
  height: 100vh;
  div.listElement {
    padding: 12px 16px;
    height: 56px;
    border-bottom: 1px solid rgba(0, 0, 0, .13);
    i {
      font-size: 32px;
    }
    span {
      position: relative;
      top: -10px;
      left: 16px;
    }
  }
}

@media (min-width: 1025px) {
  .task {
    padding: 0;
    height: auto !important;
    border-radius: 3px;
    box-shadow: $card-box-shadow;
    min-height: 400px;
    width: 450px;
    margin: 0 auto;
    position: relative;
    top: 106px;
    background: #fff;
    div.listElement {
      padding: 12px 16px;
      height: 56px;
      border-bottom: 1px solid rgba(0, 0, 0, .13);
      i {
        font-size: 32px;
      }
      span {
        position: relative;
        top: -10px;
        left: 16px;
      }
    }
  }
}