.donate {
	
	padding: 12px 0px 12px 0px;
  width: 100%;
  background: #fff;

  @media (min-width: 500px) {
    background: transparent !important;
  }

	.icons {
		
		text-align: center;

		svg {
			margin: 12px;
    	cursor: pointer;
			height: 57px;
			position: unset;
		}
	}
}