@import '../../style/vars.scss';

.welcome {
  background: url('/assets/imgs/login_background.jpg');
  min-height: 100vh;
  width: 100vw;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(125deg, $primary-color-light, $secondary-color-dark);
    filter: brightness(.56);
    opacity: .72;
  }

  h1 {
    color: #fff;
    font-weight: 100;
    position: fixed;
    width: 100vw;
    font-size: 32px;
    line-height: 32px;
    top: 56px;
  }

  form {
    position: fixed;
    width: 100vw;
    padding: 8px 16px;
    max-width: 512px;
    left: 50%;
    transform: translateX(-50%);
    top: calc(112px + 56px);
  }

  .btnWrapper {
    display: inline-block;
    width: 100%;
    margin-top: 16px;
    
    button.thirdPartyButton {
  
      margin-left: 8px;
      height: 48px;
      width: calc(25% - ((8px * 3) / 4));
      min-width: 0;
      padding: 0;
  
      svg {
        margin: 12px;
      }
  
      span {
        line-height: 48px;
      }
    }
  }

  a {
    color: rgba(255,255,255,.87);
    display: block;
    margin-top: 16px;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}