.addTask {
  height: 56px;
  position: relative;
  display: inline-block;
  width: 100%;
  min-height: 56px;
  margin-top: 32px;
  padding: 8px 16px;
  transition: height .07s ease-in-out, bottom .22s;

  .colorIndicator {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 5px;
    background: #78909c;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;

    @media (max-width: 600px) {
      border-radius: 0;
      right: 0;
      top: 0;
      width: auto;
      bottom: unset;
      height: 5px;
      display: none;
    }

    &.active {
      display: block !important;
    }
  }

  textarea {
    resize: none;
    display: inline-block;
    transition: height .13s ease-in-out;
    width: 100%;
    font-family: var(--roboto-font-stack);
    max-width: 100%;
    min-height: 26px;
    height: 26px;
    min-width: 480px;
    margin-top: 6px;
    border: none;
    background: transparent;
    font-size: 18px;
    font-weight: 500;
    color: var(--secondary-text-color);

    &:focus {
      outline: none;
    }
  }

  @media (max-width: 600px) {
    z-index: 2;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 0;
    box-shadow: 0px 2px 1px -2px rgba(0, 0, 0, 0.2),
                0px 1px 2px 0px rgba(0, 0, 0, 0.14),
                0px 0px 5px 0px rgba(0, 0, 0, 0.12) !important;
  }

  @media (min-width: 601px) {
    bottom: 0 !important;
  }

  .moreActions {
    transform: scaleY(0);
    transform-origin: top;
    line-height: 32px;
    height: 0px;
    transition: transform .13s, height .13s;
    
    select, button {
      color: var(--secondary-text-color);
      font-weight: 700;
      font-size: 14px;
      appearance: none;
      border: none;
      padding: 0;
      margin: 0;
      cursor: pointer;
      padding: 0 16px;
      border-radius: 3px;
      line-height: 32px;
      background: transparent;
      text-align: center;
      text-align-last: center;
      margin-right: 8px;

      &:hover, &:focus {
        outline: none;
        background: rgba(0, 0, 0, 0.07);
      }

      i {
        position: relative;
        top: 4px;
      }
    }

    input[type=submit] {
      cursor: pointer;
      appearance: none;
      background: transparent;
      border: none;
      line-height: 32px;
      color: var(--secondary-color-dark);
      font-weight: 700;
      font-size: 14px;
      padding: 0 16px;
      border-radius: 3px;

      &:hover, &:focus {
        outline: none;
        background: rgba(0, 0, 0, 0.07);
      }
    }
  }
}