@import '../../style/vars.scss';

.home {
	padding: 64px 0 64px 0;
	min-height: 100vh;
	width: 100%;
	background: transparent;

	@media (min-width: 500px) {
		width: 450px;
		margin: 0 auto;
		background: transparent !important;
	}

	div.noSchedule {
		color: red;
	}

	h4.notes {
		padding: 8px 20px 8px 27px;
	}
}


body[class=nightmode] {
	.home {
		background: #303030;
	}
}