@import '../../style/vars.scss';

.home {
	padding: 64px 0px 0px;
	min-height: 100vh;
	width: 100%;
	background: #fff;

	@media (min-width: 500px) {
		width: 450px;
		margin: 0 auto;
		background: transparent !important;
	}

	div.noSchedule {
		color: red;
	}
}


body[class=nightmode] {
	.home {
		background: #303030;
	}
}