@import './vars.scss';

html, body {
	height: 100%;
	width: 100%;
	overflow-x: hidden !important;
	padding: 0;
	margin: 0;
	background: #f2f2f2;
	font-family: $roboto-font-stack;
	font-weight: 400;
	color: #444;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	touch-action: pan-y;
}

* {
	box-sizing: border-box;
}

#app {
	height: 100%;
}

h2, h3, h4 {
	border-top: 1px solid rgba(0, 0, 0, .12);
	padding: 15px 0;
	line-height: 28px;
	color: $secondary-text-color;
	font-weight: 700;
	margin: 0;
}

h2 {
	font-size: 22px;
}

h3 {
	font-size: 20px;
}

h4 {
	font-size: 18px;
}

p, ul {
	padding: 0 0 15px 0;
	line-height: 24px;
	margin: 0;
	font-size: 14px;
	color: $primary-text-color;

	a {
		color: $secondary-color-dark;
		text-decoration: none;

		&:hover {
			text-decoration: underline;
		}
	}

	li {
		color: $primary-text-color;
		margin-left: 20px;
	}
}

body[class=nightmode] {
	h2, h3, h4 {
		color: rgba(255, 255, 255, .57);
	}

	p, ul, li {
		color: rgba(255, 255, 255, .87);
	}
}

.fadeIn {
	opacity:0;
	animation:fadeIn ease-in 1;
	animation-fill-mode:forwards;
	animation-duration: .22s;
	animation-delay: 0;
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

body[class=nightmode] {
	background: #303030;
}