$primary-color: #009688;
$primary-color-light: #52c7b8;
$primary-color-dark: #00675b;

$secondary-color: #ffea00;
$secondary-color-light: #ffff56;
$secondary-color-dark: #c7b800;

$primary-text-color: rgba(0, 0, 0, .87);
$secondary-text-color: rgba(0, 0, 0, .54);

$roboto-font-stack: 'Roboto', sans-serif !default;

$card-box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2),
                  0px 2px 2px 0px rgba(0, 0, 0, 0.14),
                  0px 1px 5px 0px rgba(0, 0, 0, 0.12);

$bottom-nav-box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
                  0 8px 10px 1px rgba(0, 0, 0, 0.14),
                  0 3px 14px 2px rgba(0, 0, 0, 0.12);

$button-box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2),
                    0px 2px 2px 0px rgba(0, 0, 0, 0.14),
                    0px 1px 5px 0px rgba(0, 0, 0, 0.12);

$button-box-shadow-hovered: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
                            0px 4px 5px 0px rgba(0, 0, 0, 0.14),
                            0px 1px 10px 0px rgba(0, 0, 0, 0.12);

:root {
  --primary-color: $primary-color;
  --primary-color-light: $primary-color-light;
  --primary-color-dark: $primary-color-dark;
  
  --secondary-color: $secondary-color;
  --secondary-color-light: $secondary-color-light;
  --secondary-color-dark: $secondary-color-dark;

  --inactive-color: rgba(0,0,0,.07);

  --primary-text-color: rgba(0,0,0,.87);
  --secondary-text-color: rgba(0,0,0,.57);

  --card-box-shadow: $card-box-shadow;
  --button-box-shadow: $button-box-shadow;
  --button-box-shadow-hovered: $button-box-shadow-hovered;
}