.datePicker {
  z-index: 200;
  position: fixed;
  height: auto;
  max-height: 90vh;
  width: 90vw;
  max-width: 448px;
  transform-origin: bottom left;
  transition: transform .22s ease-in-out, opacity .22s ease-in-out;
  top: 50%;
  left: 50%;
  opacity: 0;
  transform: scale(0) translate(-50%, -50%);

  &.opened {
    opacity: 1;
    transform: scale(1) translate(-50%, -50%);
  }
  
  .titles {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    padding: 24px;
    background: var(--primary-color);

    h2, h3 {
      color: #fff;
      line-height: 1;
      padding: 0;
      margin: 0;
      font-size: 32px;
      user-select: none;
    }

    h3 {
      color: rgba(255,255,255,.57);
      font-size: 18px;
      padding-bottom: 8px;
    }
  }

  nav {
    padding: 24px;
    height: 76px;

    h4 {
      width: calc(100% - 60px);
      text-align: center;
      display: inline-block;
      padding: 0;
      font-size: 16px;
      line-height: 24px;
      position: relative;
      top: -9px;
      color: var(--primary-text-color);
      user-select: none;
    }

    i {
      color: var(--secondary-text-color);
      font-size: 30px;
      user-select: none;
    }
  }

  .calendar {
    padding: 0 24px 24px 24px;

    .dayNames {
      width: 100%;
      display: grid;
      text-align: center;
      grid-template-columns: 14.28% 14.28% 14.28% 14.28% 14.28% 14.28% 14.28%;

      span {
        color: var(--secondary-text-color);
        font-size: 14px;
        line-height: 42px;
        display: inline-grid;
        user-select: none;
      }
    }

    .days {
      width: 100%;
      display: grid;
      text-align: center;
      grid-template-columns: 14.28% 14.28% 14.28% 14.28% 14.28% 14.28% 14.28%;

      span {
        color: var(--primary-text-color);
        line-height: 42px;
        font-size: 14px;
        display: inline-grid;
        transition: color .22s;
        position: relative;
        cursor: pointer;
        user-select: none;
        border-radius: 50%;

        &::before {
          content: '';
          position: absolute;
          z-index: -1;
          height: 42px;
          width: 42px;
          left: calc(50% - 21px);
          background: var(--primary-color);
          border-radius: 50%;
          transition: transform .22s, opacity .22s;
          transform: scale(0);
          opacity: 0;
        }

        &.today {
          font-weight: 700;
        }

        &.selected {
          color: rgba(255,255,255,.87);

          &:before {
            transform: scale(1);
            opacity: 1;
          }
        }
      }
    }
  }

  div.actions {
    height: 52px;
    width: 100%;
    padding: 8px;
    text-align: right;

    button {
      cursor: pointer;
      color: var(--primary-color);
      border: none;
      margin-left: 8px;
      min-width: 64px;
      line-height: 36px;
      background-color: transparent;
      appearance: none;
      padding: 0 16px;
      border-radius: 3px;
      transition: background-color .13s;

      &:hover {
        outline: none;
        background-color: rgba(0,0,0,.07);
      }

      &:focus {
        outline: none;
        background-color: rgba(0,0,0,.13);
      }
    }
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.background {
  z-index: 199;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0,0,0,.52);
  animation: fadeIn .22s forwards;
}