@import '../../../style/vars.scss';

.wrapper {
  margin-bottom: 56px;
  padding: 0 16px 8px 16px;
  background: #fff;
  display: inline-block;

  @media (min-width: 500px) {
    margin-top: 56px;
    border-radius: 3px;
    box-shadow: $card-box-shadow;
  }

  h3, h4 {
    padding: 15px 0 0 0;
    line-height: 28px;
    font-size: 20px;
    color: $secondary-text-color;
    font-weight: 700;
    margin: 0;
  }

  h3 {
    padding: 15px 0;
    font-size: 24px;
  }

  p {
    padding: 0 0 15px 0;
    line-height: 24px;
    margin: 0;
    font-size: 14px;
    color: $primary-text-color;
    border-bottom: 1px solid rgba(0,0,0,.13);

    a {
      color: $secondary-color-dark;
      text-decoration: none;
    }
  }

  input[type=submit] {
    cursor: pointer;
    display: inline-block;
    float: right;
    position: relative;
    min-width: 120px;
    max-width: 140px;
    padding: 6px;
    margin: 6px 6px 0 0;
    border-radius: 2px;
    text-align: center;
    font-size: 16px;
    text-decoration: none;
    border: none;
    background-color: $secondary-color-dark;
    color: #fff;
    outline: none;
    transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0.2s;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  }
}

.input {

  margin: 10px;

  input[type=radio] {
    appearance: none;
    height: 26px;
    cursor: pointer;
    width: 26px;
    background: transparent;
    border-radius: 50%;
    margin-bottom: 4px;
    transition-property: width, height, margin;
    transition-duration: .22s;

    &:checked {
      height: 34px;
      width: 34px;
      margin-bottom: 0px;
    }

    &:focus {
      outline: none;
    }
  }
}