@import '../../style/vars.scss';

.class {
  padding: 132px 0 8px 0;
  height: 100vh;
  background: #fff;

  .card {
    padding: 0;
  }

  div.listElement {
    position: relative;
    padding: 12px 16px;
    min-height: 56px;

    i {
      font-size: 32px;
    }

    span {
      position: relative;
      top: -10px;
      left: 16px;
    }
  }

  h4 {
    padding: 0;
    margin: 0;
    margin: 8px 16px;
  }

  div.taskListElement {

    cursor: pointer;
    min-height: 58px;
    padding: 8px 16px;
    position: relative;
    margin-bottom: 12px;

    h5 {
      margin: 0 0 4px 0;
      font-size: 16px;
      padding: 0;
      font-weight: 400;
    }

    span.taskDescription {
      font-size: 14px;
      line-height: 16px;
      color: $secondary-text-color;
    }

    span.taskTimeLeft {
      font-size: 14px;
      line-height: 16px;
      color: $secondary-text-color;
      float: right;
    }

    div.colorIndicator {
      width: 4px;
      margin-left: -16px;
      top: 0;
      bottom: 0;
      position: absolute;
    }

    &:active {
      filter: brightness(.87);
    }
  }
}

@media (min-width: 1025px) {
  .class {
    
    padding: 0 0 8px 0;
    height: auto !important;
    min-height: 400px;
    width: 450px;
    margin: 0 auto;
    position: relative;
    top: 106px;
    background: transparent !important;

    div.listElement {
      padding: 12px 16px;
      height: 56px;
      border-bottom: 1px solid rgba(0, 0, 0, .13);
      i {
        font-size: 32px;
      }
      span {
        position: relative;
        top: -10px;
        left: 16px;
      }
    }
  }
}

body[class=nightmode] {
  .class {
    background: #424242;
    h5 { color: rgba(255, 255, 255, 0.87); }
    i, span { color: rgba(255, 255, 255, 0.87); }
    span.taskDescription, span.taskTimeLeft { color: rgba(255, 255, 255, 0.87) !important; }
  }
}