@import '../../style/vars.scss';

.about {
  padding: 64px 0px 0px;
  min-height: 100vh;
  width: 100%;
  background: #fff;

  @media (min-width: 500px) {
    background: transparent !important;
  }
}

body[class=nightmode] {
  .about {
    background: #424242;
  }
}