@import '../../style/vars.scss';

.tasks {
  padding: 64px 0px 0px;
  min-height: 100%;
  width: 100%;

  @media (min-width: 500px) {
    width: 450px;
    margin: 0 auto;
    margin-top: 26px;
  }

  .taskElement {

    position: relative;
    width: 100%;
    background-color: #fff;
    box-shadow: $card-box-shadow;
    margin-bottom: 10px;
    min-height: 92px;
    padding: 25px 20px 25px 27px;
    cursor: pointer;

    &:active {
      filter: brightness(.87);
    }

    @media (min-width: 500px) {
      border-radius: 3px;
    }

    div.colorIndicator {
      width: 7px;
      margin-left: -27px;
      top: 0;
      bottom: 0;
      position: absolute;

      @media (min-width: 500px) {
        border-top-left-radius: 3px;
        border-bottom-left-radius: 3px;
      }
    }

    h3 {
      color: $primary-text-color;
      margin: 0;
      padding: 0;
      font-weight: 400;
    }

    span.body {
      color: $secondary-text-color;
    }

    span.timeLeft {
      color: $secondary-text-color;
      font-size: 14px;
      float: right;
    }
  }
}

body[class=nightmode] {
  .taskElement {
    background: #424242;

    &:active {
      filter: brightness(1.13);
    }

    h3 {
      color: rgba(255,255,255,.87);
    }

    span, i {
      color: rgba(255,255,255,.57) !important;
    }
  }
}