@import '../../style/vars.scss';

.nav {
  background: #fff;
  width: 95%; // Fallback
  width: calc(100vw - 56px);
  position: fixed;
  margin: 0 0 0 -360px;
  box-shadow: 0 0 16px rgba(0, 0, 0, .7);
  max-width: 320px;
  height: 100%;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  z-index: 100;
  top: 0;
  transition: none;

  @media (min-width: 1025px) {
    width: 210px !important;
    display: block !important;
    opacity: 1 !important;
    margin-left: 8px !important;
    top: 64px !important;
    background: transparent !important;
    box-shadow: none !important;
    transition: none !important;
  }

  div.drawerHeader {
    border-bottom: 1px solid #000;
    height: 146px;
    width: 100%;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    display: block;
    margin-bottom: 8px;

    @media (min-width: 1025px) {
      display: none !important;
    }

    div {
      background-color: rgba(0, 0, 0, .22);
      height: 100%;
      height: calc(100% + 1px);
      width: 100%;
      
      div.drawerHeaderProfilePic {
        border-radius: 50%;
        position: relative;
        height: 64px;
        width: 64px;
        background-size: cover;
        left: 16px;
        top: 16px;
      }
  
      span.drawerHeaderName {
        font-size: 14px;
        color: rgba(255, 255, 255, 1);
        position: absolute;
        top: calc(138px - 32px);
        left: 16px;
      }
  
      span.drawerHeaderMail {
        font-size: 14px;
        color: rgba(255, 255, 255, .74);
        position: absolute;
        top: calc(138px - 16px);
        left: 16px;
      }
  
      i {
        color: #fff;
        position: absolute;
        top: calc(138px - 28px);
        right: 16px;
        transition: .2s ease-in-out;
        cursor: pointer;
        user-select: none;
      }
  
      i.drawerHeaderMore {
        transform: rotate(180deg);
      }
    }
  }

  div.drawerContent {

    height: calc(100% - 155px);
    width: 100%;

    hr {
      display: none;
    
      @media (min-width: 1025px) {
        display: block !important;
        border: none !important;
        border-top: 1px solid rgba(0, 0, 0, 0.12) !important;
        margin: 7px 0 !important;
      }
    }

    div.drawerSubContent {

      @media (min-width: 1025px) {
        display: block !important;
      }

      a {
        text-decoration: none;
        color: inherit !important;
        
        &.active div {
          color: $primary-color;
          background: #F5F5F5;

          @media (min-width: 1025px) {
            background: rgba(0, 0, 0, .05);
          }
  
          span i {
            color: $primary-color;
          }
        }
  
        div {
          font-size: 16px;
          color: $primary-text-color;
          padding: 8px 0 14px 14px;
          font-weight: 400;
          user-select: none;
    
          &:hover {
            background: #F5F5F5;
            color: $primary-color;
            cursor: pointer;

            @media (min-width: 1025px) {
              background: rgba(0, 0, 0, .05);
            }

          }
    
          &:hover span i {
            color: inherit !important;
          }
    
          span i {
            position: relative;
            top: 6px;
            margin-right: 30px;
            color: $secondary-text-color;
          }
        }
      }
    }
  }
}

div.drawerBack {
  background: rgba(0, 0, 0, 0.52);
  display: none;
  height: 100%;
  z-index: 99;
  position: fixed;
  width: 100%;
  top: 0;
  margin: 0;

  @media (min-width: 1025px) {
    display: none !important;
  }
}

body[class=nightmode] {
  .nav {
    background: #303030 !important;

    a.active div {
      background: rgba(255, 255, 255, .05) !important;
      color: rgba(255,255,255,.87) !important;

      @media (min-width: 1025px) {
        background: rgba(255, 255, 255, .05) !important;
      }

      span i {
        color: rgba(255, 255, 255, .87) !important;
      }
    }

    hr {
      @media (min-width: 1025px) {
        border-top: 1px solid rgba(255, 255, 255, .12) !important;
      }
    }

    a:hover div {
      background-color: rgba(255, 255, 255, .05) !important;
    }

    div {
      color: rgba(255, 255, 255, .57) !important;

      &:hover {
        color: rgba(255, 255, 255, .87) !important;
      }

      span i {
        color: rgba(255,255,255,.57) !important;
      }
    }
  }
}